In [22]:
# set_index()
# reset_index(): takes it back to the initial index without deleting the artificial index
# SHIFT + TAB TO SEE FUNCTION PARAMETERS

In [23]:
import pandas as pd
import numpy as np

csv_file = pd.read_csv(r"C:\Users\adead\Downloads\csv dataset for practice\diabetes.csv")
df = pd.DataFrame(csv_file)
df1 = df.head()   
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [24]:
# Create the list of the new row headings
df1['Patients'] = ['Patient 1', 'Patient 2', 'Patient 3', 'Patient 4', 'Patient 5']
df1.set_index(keys= 'Patients')

C:\Users\adead\AppData\Local\Temp\ipykernel_3156\3459049314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Patients'] = ['Patient 1', 'Patient 2', 'Patient 3', 'Patient 4', 'Patient 5']

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Patients,,,,,,,,,
Patient 1,6,148,72,35,0,33.6,0.627,50,1
Patient 2,1,85,66,29,0,26.6,0.351,31,0
Patient 3,8,183,64,0,0,23.3,0.672,32,1
Patient 4,1,89,66,23,94,28.1,0.167,21,0
Patient 5,0,137,40,35,168,43.1,2.288,33,1

In [25]:
# To modify the DataFrame rather than creating a new one., use inplace=True
df1['Patients'] = ['Patient 1', 'Patient 2', 'Patient 3', 'Patient 4', 'Patient 5']
df1.set_index(keys = 'Patients', inplace=True)
df1

C:\Users\adead\AppData\Local\Temp\ipykernel_3156\1098535666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Patients'] = ['Patient 1', 'Patient 2', 'Patient 3', 'Patient 4', 'Patient 5']

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Patients,,,,,,,,,
Patient 1,6,148,72,35,0,33.6,0.627,50,1
Patient 2,1,85,66,29,0,26.6,0.351,31,0
Patient 3,8,183,64,0,0,23.3,0.672,32,1
Patient 4,1,89,66,23,94,28.1,0.167,21,0
Patient 5,0,137,40,35,168,43.1,2.288,33,1

In [26]:
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Patients,,,,,,,,,
Patient 1,6,148,72,35,0,33.6,0.627,50,1
Patient 2,1,85,66,29,0,26.6,0.351,31,0
Patient 3,8,183,64,0,0,23.3,0.672,32,1
Patient 4,1,89,66,23,94,28.1,0.167,21,0
Patient 5,0,137,40,35,168,43.1,2.288,33,1

In [27]:
# To reset index
df1.reset_index(inplace=True)
df1

# The row index goes back to default but our 'Patients' column is still there

,Patients,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,Patient 1,6,148,72,35,0,33.6,0.627,50,1
1,Patient 2,1,85,66,29,0,26.6,0.351,31,0
2,Patient 3,8,183,64,0,0,23.3,0.672,32,1
3,Patient 4,1,89,66,23,94,28.1,0.167,21,0
4,Patient 5,0,137,40,35,168,43.1,2.288,33,1

In [30]:
df1.drop(labels='Patients', axis=1, inplace=True)
df1

C:\Users\adead\AppData\Local\Temp\ipykernel_3156\1127873776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(labels='Patients', axis=1, inplace=True)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [35]:
# To reset the index for the entire dataset

KeyError: 'Patients'