In [3]:
# Series: 1-D array

import pandas as pd
import numpy as np

list = [1, 2, 3, 4, 5]
series = pd.Series(list)
series
# press SHIFT + TAB  to see info on Series()

Jan      1
Feb      2
Mar      3
April    4
May      5
Name: Months, dtype: int64

In [5]:
# Creating Headings by using index arguments
series2 = pd.Series(series, index=["Jan", "Feb", "Mar","April", "May"])
series2

Jan      1
Feb      2
Mar      3
April    4
May      5
Name: Months, dtype: int64

In [9]:
# Using python dictionary

list3 = {
    "MTH101" : 75,
    "CHM101" : 60,
    "PHY101" : 100,
    "TPD101" : "ENGINEERING"
}

series3 = pd.Series(list3, name = "GRADES")
series3

MTH101             75
CHM101             60
PHY101            100
TPD101    ENGINEERING
Name: GRADES, dtype: object