In [5]:
import pandas as pd
import numpy as np
from numpy.random import randn

my_data = randn(4, 3) # rows, columns
my_rows = ["A", "B", "C", "D"]
my_columns = ["Monday", "Tuesday", "Friday"]

# Create DataFrame
my_df = pd.DataFrame(my_data, my_rows, my_columns)

my_df

     Monday   Tuesday    Friday
A -0.338265  1.076382  1.696884
B -0.386385  1.163675  0.498671
C -0.719973  0.523247 -0.289980
D  0.613469  1.161352  1.155911

In [19]:
import pandas as pd
import numpy as np 

csv = pd.read_csv(r"C:\Users\adead\Downloads\csv dataset for practice\diabetes.csv")
#csv.head()
csv.loc[[3, 2]] # rows8

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,1,89,66,23,94,28.1,0.167,21,0
2,8,183,64,0,0,23.3,0.672,32,1